@page "/"

<div class="homepage-grid">
    <div class="content">
        <div class="profile-img-border">
            <img class="profile-img" src="/assets/ismael_miah.jpg" alt="Ismail" />
        </div>
        <div class="banner-text">
            <h1>Asp .Net Full-Stack Developer</h1>
            <hr />
            <p>
                HTML | CSS | BOOTSTRAP | JavaScript | ReactJs | C# | ASP .NET | SQL SERVER | Postgres
            </p>
            <div class="social-links">
                <a href="http://facebook.com/ismail96.12" rel="noopener noreferrer" target="_blank">
                    <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/ismail_miah_2" rel="noopener noreferrer" target="_blank">
                    <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/ismaelmiah" rel="noopener noreferrer" target="_blank">
                    <i class="fa-brands fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/ismaelmiah/" rel="noopener noreferrer" target="_blank">
                    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>