body {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
}

a {
    color: black;
    padding: 3px;
}

.contacts > a:hover {
    background: green;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.icon {
    margin-right: 5px;
}

.heading {
    text-align: center;
}

.person-name {
    text-transform: uppercase;
}

.resume-section .title {
    display: flex;
    align-items: baseline;
    margin: 10px 0px;
}

    .resume-section .title:hover {
        background: #0080001a;
    }

    .resume-section .title h2 {
        margin: 0px 5px 0px 0px;
        padding: 0px;
    }

    .resume-section .title hr {
        margin: 0px;
        padding: 0px;
        flex: 1;
    }

.experience-set {
    margin-bottom: 20px;
}

.pre-details {
    display: flex;
    justify-content: space-between;
}

.post-details > ul {
    margin: 0px;
}

    .post-details > ul > li {
        line-height: 1.3;
        text-align: justify;
    }

li > p {
    display: flow-root;
    text-align: right;
}
