@page "/resume"
@inject IJSRuntime JSRuntime;


<div class="resume p-3">
    <div class="heading">
        <h1 class="person-name">Ismael Miah</h1>
        <div class="contacts">
            <a href="https://www.linkedin.com/in/ismaelmiah/" target="_blank"><i class="icon fa-brands fa-linkedin"></i>linkedin</a>
            <a style="text-decoration: none;" href="tel:+8801642259188"><i class="icon fa-solid fa-phone"></i>+880 1642 259188</a>
            <a href="https://devismael.com" target="_blank"><i class="icon fa-solid fa-globe"></i>devismael.com</a>
            <a style="text-decoration: none;" href="mailto:ismaelmiah.swe@gmail.com">
                <i class="icon fa-regular fa-envelope"></i>ismaelmiah.swe@gmail.com
            </a>
            <a href="https://github.com/ismaelmiah" target="_blank"><i class="icon fa-brands fa-square-github"></i>GitHub</a>
        </div>
    </div>
    <div class="resume-section">
        <div class="title">
            <h2>Skills</h2>
            <hr>
        </div>
        <div>
            <ul>
                <li class="skills-set-one">
                    <a>C#</a>
                    <a>.NET</a>
                    <a>JavaScript</a>
                    <a>Jquery</a>
                    <a>MSSQL</a>
                    <a>NoSQL</a>
                    <a>Dapper</a>
                    <a>Entity Framework</a>
                    <a>Docker</a>
                    <a>CI/CD</a>
                    <a>Unit Testing</a>
                    <a>Git</a>
                </li>
                <li class="skills-set-two">
                    <a>Microservices</a>
                    <a>Distributed Systems</a>
                    <a>Frontend</a>
                    <a>Backend</a>
                    <a>Full-Stack</a>
                    <a>English, Bangla - All professional profeciency or above</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="resume-section">
        <div class="title">
            <h2>Experiences</h2>
            <hr>
        </div>
        <div class="experience-set">
            <div class="pre-details">
                <h3>Software Engineer</h3>
                <h3>Astha IT</h3>
                <h3><pre><i>Dhaka, Bangladesh</i>    02/01/2023 - Current</pre></h3>
            </div>
            <div class="post-details">
                <ul>
                    <li>
                        Improving functionality and incorporating new features as per
                        requirements on a <b>Communicative tool for building management</b>
                        to be used by owners, residents, building managemers, and strata
                        managers. <a href="https://www.strataspot.com.au/">StrataSpot</a>
                        built using .Net Framework and MSSQL.
                    </li>
                    <li>
                        Worked on building different sections for the e-commerce platform of
                        <a href="https://transcomdigital.com">Transcom Digital</a>.
                        Built using <b>NextJs, .Net Core 3.1 & MongoDB.</b>
                    </li>
                    <li>
                        Enhancing features and improvements existing functionality of
                        a social media platform for the <b>Hawai’i-based</b> volunteering
                        students to organize, plan and collaborate as the
                        <a href="https://www.app.globalaloha.com"> Global Aloha</a>
                        initiative built using <b>Angular, .Net Core 3.1 & PostgreSQL.</b>
                    </li>
                    <li>
                        Supported frontend by providing <b>Rest API.</b>
                    </li>
                    <li>
                        Revised, modularized and updated old code bases, reducing operating costs.
                    </li>
                </ul>
            </div>
        </div>
        <div class="experience-set">
            <div class="pre-details">
                <h3>Software Engineer, Intern (Remote)</h3>
                <h3>Dev Skill</h3>
                <h3><pre><i>Dhaka, Bangladesh</i>    02/04/2023 - 02/06/2023</pre></h3>
            </div>
            <div class="post-details">
                <ul>
                    <li>
                        Worked on active development project. <a href="https://devskill.com/">DevSkill</a> built using <b>
                            Asp
                            .Net-5 & MSSQL.
                        </b>
                    </li>
                    <li>
                        Writing, improving & fixing <b>Unit tests.</b>
                    </li>
                    <li>
                        Designing & developing new features.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="resume-section">
        <div class="title">
            <h2>Education</h2>
            <hr>
        </div>
        <div class="pre-details">
            <h3>Bachelor of Science</h3>
            <h3>Daffodil International University</h3>
            <pre><h3><i>Dhaka, Bangladesh</i>    01/01/2017 - 31/06/2021</h3></pre>
        </div>
        <div class="post-details">
            <ul>
                <li>
                    Major in Software Engineering
                </li>
            </ul>
        </div>
    </div>
    <div class="resume-section">
        <div class="title">
            <h2>Projects</h2>
            <hr>
        </div>
        <ul>
            <li>
                <b><a href="https://github.com/ismaelmiah/EduInCare">Edu-In-Care</a>: </b>An All-in-one Online School
                Management System that helps you manage your school
                from anywhere anytime using any device. 
                <br /> Built using <b>Asp .Net Core 3.1, C#, Sql Server</b> (03/2019 - 05/2020)
            </li>
            <li>
                <b><a href="https://github.com/ismaelmiah/Leave-Management">Leave Management System</a>: </b>It is a web
                application for managing employee leaves. The main objective was to apply the
                asp .net into a real-life project. 
                <br /> Built using <b>Asp .Net Core 3.1, C#, Sql Server</b> (02/2020 - 11/2020)
            </li>
        </ul>
    </div>
    <div class="resume-section">
        <div class="title">
            <h2>Mentorship</h2>
            <hr>
        </div>
        <ul>
            <li>
                <b>SWE-Coding Wings Trainer: </b> As a trainer at DIU, I had the opportunity to share my knowledge
                and passion for programming with C and C++ with the first and second semester students.
                My goal was to introduce them to the basics of these languages and help them develop the
                skills and confidence to participate in competitive programming.
                I conducted training sessions every semester for two years, covering topics such as data structures,
                algorithms, debugging and optimization. I enjoyed working with the students
                and seeing their progress and achievements. <p>(01/2018 - 01/2019)</p>
            </li>
            <li>
                <b>SWE-Bootcamp: </b>As a senior student at DIU and a participant in several SWE-bootcamps held at DIU,
                I organized and taught junior students various software engineering skills and concepts. <br />
                Programming | Data Structure and Algorithms | Career Advice | Coding Interview Prep |
                Professional Portfolio <p>(01/2019 - 06/2019)</p>
            </li>
        </ul>
    </div>
    <div class="resume-section">
        <div class="title">
            <h2>Others</h2>
            <hr>
        </div>
        <ul>
            <li><div style="display: flex; justify-content: space-between;"><div><b>Problem Setter: </b> at DIU take off programming contests.</div> <div>(01/2019 - 04/2020)</div></div></li>
            <li><div style="display: flex; justify-content: space-between;"><div><b>Contest Judge: </b>at DIU contest several times I had to be in the JUDGE PANEL.</div> <div>(01/2019 - 12/2019)</div></div></li>
            <li><b>Hackerrank (Gold Badge): </b>Problem Solving</li>
        </ul>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("AddSeparatorAfterAnchorTags");
        }
    }
}