body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

.heading {
    text-align: center;
}

.person-name {
    text-transform: uppercase;
}

.fa-phone, .fa-envelope {
    text-decoration: none;
}

.resume-section .title {
    display: flex;
    align-items: baseline;
}

    .resume-section .title h2 {
        margin: 0px 5px 0px 0px;
        padding: 0px;
    }

    .resume-section .title hr {
        margin: 0px;
        padding: 0px;
        flex: 1;
    }

.experience-set {
    margin-bottom: 20px;
}

.pre-details {
    display: flex;
    justify-content: space-between;
}

.post-details > ul {
    margin: 0px;
}

    .post-details > ul > li {
        line-height: 1.3;
    }

li > p {
    display: flow-root;
    text-align: right;
}
