@page "/about"

<div class="content d-flex flex-column align-items-center justify-content-center">
  <h2>About Me</h2>
  <p class="paragraph">
    Hi! I'm ismael. I currently work full-time as a Software Engineer, and I buildopen-source projects for fun. <br>
    I taught myself how to make websites first as a hobby and later as a professional programmer. <br>
    I've been documenting everything I've learned since I began. <br> I also love to make open source projects,
    all of which can be found on Github and I'm also love to play chess.
  </p>
  <p class="paragraph">
    <strong class="h2">Get in touch</strong>
    I hope you love the site, and if there's anything you want to talk about with me feel free to drop me a line. <br>
     I'm happy to hear your comments, feedback, suggestions.
  </p>
  <div class="actions">
    <a class="p-3" href="https://github.com/ismaelmiah"><i class="fa-brands fa-github"></i></a>
    <a class="p-3" href="https://github.com/ismail_miah_2"><i class="fa-brands fa-twitter"></i></a>
    <a class="p-3" href="https://github.com/ismail96.12"><i class="fa-brands fa-facebook"></i></a>
    <a class="p-3" href="https://github.com/ismaelmiah"><i class="fa-brands fa-linkedin"></i></a>
  </div>
</div>