@page "/project"

<div class="post-container p-3">
    <div class="row content container">
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-top" alt="chat application" src="assets/chat.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Chat Application</h5>
                            <p class="card-text">
                                ChatApp is a chat application that allows users to communicate with 
                                each other in real-time. ChatApp is built with ReactJS and Loopback API,
                                and it is easy to use and customize for different purposes and platforms.
                            </p>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-top" alt="Standard Calculator" src="assets/calculator.png">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Standard Calculator</h5>
                            <p class="card-text">
                                This is a simple calculator built with React. 
                                It can perform basic arithmetic operations.
                                It has a user-friendly interface and supports keyboard input.
                                It is a great project for learning React and practicing math skills.
                            </p>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-top" alt="Portfolio" src="assets/portfolio.png">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Portfolio</h5>
                            <p class="card-text">
                                In 2020, I built a portfolio site using ReactJS within two days.
                                I also used other technologies such as HTML, CSS, Bootstrap and netlify to create
                                a professional and modern look for my site.                                
                            </p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                                <a href="https://devismail.netlify.com" target="_blank" class="btn btn-sm btn-outline-info">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-top" alt="Leave management" src="assets/leave-management.png">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Leave Management</h5>
                            <p class="card-text">
                                Leave management app is a versatile and user-friendly application that simplifies
                                the process of managing employee leaves, it can help you streamline your leave management workflow
                                and improve employee satisfaction.
                            </p>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="content blog-pagination" aria-label="...">      
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Working on new project</a>
        </li>
        <li class="page-item d-none"><a class="page-link" href="#">1</a></li>
        <li class="page-item active d-none" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item d-none"><a class="page-link" href="#">3</a></li>
        <li class="page-item d-none">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>