@page "/project"

<div class="post-container p-3">
    <div class="row content container">
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/demo.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Blog title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">published 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/demo.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Blog title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">published 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/demo.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Blog title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">published 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/demo.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Blog title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">published 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/demo.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Blog title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">published 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-item col-md-6">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/demo.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Blog title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">published 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="content blog-pagination" aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>