.blog-pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.post-item {
    margin-bottom: 20px;
    max-height: 220px;
}
.post-item .card{
    height: 220px;
}

    .post-item .card-text{
        text-align: justify;
    }
    .post-container .row {
        margin: 0px;
    }
